{{ define "main" }}
    <div class="container max-800px">
        <h1 class="title index-header narrow-background">
            {{ .Title }}
        </h1>
        {{ with .Params.herotext }}
        <h2 class="title subtitle is-4 has-background-primary narrow-background">
            {{ . }}
        </h2>
        {{ end }}
    </div>
<div class="index-section">
    <div class="container max-800px">
      {{ with .Params.images }}
  <figure class="title-image-index">
    <img src="{{ index . 0 }}" alt="">
  </figure>
{{ end }}
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</div>

<section style="margin-bottom: 30px" class="index-section">
   <div class="columns is-centered">
      <div class="column max-800px">
         <div class="content">
            <h2>Some of my blog posts</h2>
         </div>
         <div class="columns">
            {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
            {{ range $related }}
            <div class="column is-one-third">
               {{ partial "widgets/post-card-small.html" . }}
            </div>
            {{ end }}
         </div>
      </div>
   </div>
</section>
<script>
const signs = document.querySelectorAll('x-sign')
const randomIn = (min, max) => (
  Math.floor(Math.random() * (max - min + 1) + min)
)

const mixupInterval = el => {
  const ms = randomIn(2000, 4000)
  el.style.setProperty('--interval', `${ms}ms`)
}

signs.forEach(el => {
  mixupInterval(el)
  el.addEventListener('webkitAnimationIteration', () => {
    mixupInterval(el)
  })
})</script>
{{ end }}
