

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <link rel="icon" href="/images/favicon.ico" type="image/ico" sizes="64x64">
   <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
   <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }}">
   <base href="{{ .Permalink }}">
   <meta name="description" content="{{ .Params.description }}" />
   <meta itemprop="description" content="{{ .Params.description }}" />
   <meta property="og:description" content="{{ .Params.description }}" />
   <meta name="twitter:description" content="{{ .Params.description }}" />
   <meta name="twitter:url" content="{{ .Permalink }}" />
   <meta property="og:url" content="{{ .Permalink }}" />
   <link rel="canonical" href="{{ .Permalink }}" />
   <!-- image tags -->
   {{ with .Params.image }} 
   <meta itemprop="image" content="{{ . | absURL }}" />
   <meta property="og:image" content="{{ . | absURL }}" />
   <meta name="twitter:image" content="{{ . | absURL }}" />
   <meta name="twitter:image:src" content="{{ . | absURL }}" />
   {{ else }}
   <meta itemprop="image" content="{{ .Site.Params.ogimage | absURL }}" />
   <meta property="og:image" content="{{ .Site.Params.ogimage | absURL }}" />
   <meta name="twitter:image" content="{{ .Site.Params.ogimage | absURL }}" />
   <meta name="twitter:image:src" content="{{ .Site.Params.ogimage | absURL }}" />
   {{ end }}
   <!-- Dtae Tags -->
   <meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />
   <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" />
   {{ with .OutputFormats.Get "RSS" }}
   <link href="{{ .Permalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
   <link href="{{ .Permalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
   {{ end }}
   <!-- SE Crawler Tags -->
   <meta name="robots" content="index,follow" />
   <meta name="googlebot" content="index,follow" />
   <!-- Other Tags -->
   <!-- Theme Color -->
   <meta name="theme-color" content="#141414" />
   <meta name="msapplication-TileColor" content="#141414" />
   <meta name="keywords" content="" />
   <meta name="imagemode" content="force" />
   <meta name="coverage" content="Worldwide" />
   <meta name="distribution" content="Global" />
   <meta name="HandheldFriendly" content="True" />
   <meta name="msapplication-tap-highlight" content="no" />
   <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.sitename }}" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
   <meta name="apple-touch-fullscreen" content="yes" />
   <!-- templates -->
   {{ template "_internal/opengraph.html" . }}
   {{ template "_internal/twitter_cards.html" . }}
   {{ if not (in (string .Site.BaseURL) "localhost") }}
   {{ template "_internal/google_analytics_async.html" . }}
   {{ end }}
   <!-- Google Fonts-->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Bebas+Neue&family=Bungee+Shade&family=Caveat+Brush&family=JetBrains+Mono&family=Love+Ya+Like+A+Sister&family=Open+Sans+Condensed:wght@300&family=Patrick+Hand&family=Roboto:wght@100&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Luckiest+Guy&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Shalimar&display=swap" rel="stylesheet"> 
   <!--Bulma CDN-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
   <!--FontAwesome CDN-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <!-- Local CSS-->
   <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
   <!-- jQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!--Adsense-->
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6104350685239688"
      crossorigin="anonymous"></script>
</head>

